In [1]:
import pandas as pd

In [4]:
county_data = pd.read_csv('County_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv')

In [6]:
dates = county_data.columns[9:] # These are the timestamps
price_by_county = pd.DataFrame(county_data[dates].values.T, columns=county_data['RegionName'], index=dates) # Transposing the dataset, now using the RegionName (ZIP code) as the columns, dates for the index, and transposing the housing data
price_by_county

RegionName,Los Angeles County,Cook County,Harris County,Maricopa County,San Diego County,Orange County,Kings County,Miami-Dade County,Dallas County,Riverside County,...,Wheeler County,Hooker County,San Juan County,Treasure County,Loup County,Banner County,Daggett County,Thomas County,McPherson County,Petroleum County
2000-01-31,205554.642143,146088.131319,109502.880748,143224.384045,213034.659393,2.483530e+05,200639.071495,119668.621108,93990.540943,149547.902766,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-02-29,205787.076303,146058.811433,109474.767351,143516.508250,213878.120425,2.505451e+05,201602.627381,120083.060160,94042.350458,149886.943085,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-03-31,206645.170206,146299.372635,109313.922526,143902.521074,214900.510511,2.521021e+05,202654.141877,120436.828134,94119.405750,150300.974680,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-04-30,208344.164074,146991.131284,109247.781175,144696.080612,217215.437980,2.552860e+05,204936.099271,121153.716601,94297.411981,151248.156464,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-05-31,210504.871387,147876.373157,109221.904554,145570.897200,219715.973772,2.580317e+05,207366.081909,121787.881479,94530.243952,152486.072483,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-08-31,857411.008912,302846.384103,282907.172194,468743.383602,935687.520148,1.123102e+06,846570.558934,531887.523252,312967.856389,604212.620117,...,230463.934800,123386.090629,528411.317244,185303.801165,310436.823833,336736.175154,315766.403474,164047.103362,318725.125071,158653.532384
2024-09-30,863957.219674,303511.080209,282692.273148,467798.713506,935242.345948,1.130097e+06,849704.713103,533291.737261,312401.969738,605260.053955,...,233933.291898,123872.022476,530029.921353,185987.546582,315129.516712,346631.949352,318169.837605,164787.407684,329326.702388,161280.339942
2024-10-31,869036.446028,303864.098187,282325.752609,467070.117625,934533.913892,1.136611e+06,851903.458103,533542.030514,311843.578865,605860.776709,...,238367.449855,124136.559601,532923.729681,187909.810346,320006.941594,354998.496627,322748.075604,166054.747665,339183.091984,165289.537724
2024-11-30,873116.490139,304254.182907,281874.816774,466405.864875,934725.657369,1.143075e+06,854880.300260,532797.604892,311106.260896,606543.758767,...,241060.345103,123836.154642,531769.821932,188521.945064,321877.019649,358646.215997,326448.913102,166257.891113,344650.536347,168560.091132
2024-12-31,876489.981962,304914.611846,281642.532453,465828.629769,935232.664342,1.149480e+06,859181.821029,531998.490352,310300.688526,607110.078458,...,244301.888403,124803.729923,528188.588520,189126.469042,323881.773700,363180.460914,330270.364833,166435.634476,350922.241689,173025.297990