In [257]:
import numpy as np 
import pandas as pd

Load in the data frame. Get lists of column labels.

In [258]:
all_data = pd.read_csv("Data_Files/state_housing_zillow.csv")
col_labels = all_data.columns.tolist()
timestamps = col_labels[5:]

Tranpose the dataset so that it is indexed by time and each column represents a state.

In [259]:
price_by_state_series = pd.DataFrame(all_data[timestamps].values.T, columns=all_data['RegionName'], index=timestamps)

Create a dataframe of labels. Add a column to one-hot encode whether the original dataframe contained any NaN values for that state. Default to 0 (False).

In [260]:
state_labels = pd.DataFrame(all_data[col_labels[:5]].values, columns=col_labels[:5], index=all_data['RegionName'])
state_labels.drop(columns=['StateName'], inplace=True)
state_labels['LeadingNaN'] = 0
state_labels['ContainsNaN'] = 0

Address NaN values. Replace any leading NaN values with the oldest recorded price measurement (backwards fill method). For intermediate NaN values, use take the average of the values before and after (interpolate). Update the ContainsNaN column of the labels dataframe.

In [261]:
# find columns with NaN values and update the column in labels
col_nans = price_by_state_series.isna().any()
print(np.sum(col_nans.values))
#print(col_nans)

# interpolate intermediate NaN values
for state in all_data['RegionName']:
    #print(col_nans[state])
    if col_nans[state]:
        all_nans = price_by_state_series[state].isna().sum()
        price_by_state_series[state].interpolate(method='linear', inplace=True)
        new_nans = price_by_state_series[state].isna().sum()
        state_labels.loc[state, 'ContainsNaN'] = all_nans - new_nans
        #if all_nans - new_nans != 0:
        print(state, all_nans - new_nans, all_nans, new_nans)   

print()
# backwards fill leading NaN values
col_nans = price_by_state_series.isna().any()
print(np.sum(col_nans.values))
for state in all_data['RegionName']:
    if col_nans[state]:
        print(state, price_by_state_series[state].isna().sum())
        state_labels.loc[state, 'LeadingNaN'] = price_by_state_series[state].isna().sum()
        price_by_state_series[state].fillna(method='bfill', inplace=True)

9
Arizona 1 1 0
New Mexico 0 27 27
Idaho 1 1 0
West Virginia 1 1 0
Montana 0 61 61
South Dakota 1 1 0
North Dakota 0 108 108
Alaska 1 1 0
Wyoming 0 27 27

4
New Mexico 27
Montana 61
North Dakota 108
Wyoming 27

In [262]:
col_nans = price_by_state_series.isnull().any()
print(col_nans)

RegionName
California              False
Texas                   False
Florida                 False
New York                False
Pennsylvania            False
Illinois                False
Ohio                    False
Georgia                 False
North Carolina          False
Michigan                False
New Jersey              False
Virginia                False
Washington              False
Arizona                 False
Massachusetts           False
Tennessee               False
Indiana                 False
Maryland                False
Missouri                False
Wisconsin               False
Colorado                False
Minnesota               False
South Carolina          False
Alabama                 False
Louisiana               False
Kentucky                False
Oregon                  False
Oklahoma                False
Connecticut             False
Utah                    False
Iowa                    False
Nevada                  False
Arkansas                False
Mississippi             False
Kansas                  False
New Mexico              False
Nebraska                False
Idaho                   False
West Virginia           False
Hawaii                  False
New Hampshire           False
Maine                   False
Rhode Island            False
Montana                 False
Delaware                False
South Dakota            False
North Dakota            False
Alaska                  False
District of Columbia    False
Vermont                 False
Wyoming                 False
dtype: bool

Export cleaned datasets.

In [263]:
price_by_state_series.to_csv("Data_Files/price_by_state_cleaned.csv")
state_labels.to_csv("Data_Files/state_data_labels.csv")

In [264]:
state_labels

,RegionID,SizeRank,RegionName,RegionType,LeadingNaN,ContainsNaN
RegionName,,,,,,
California,9,0,California,state,0,0
Texas,54,1,Texas,state,0,0
Florida,14,2,Florida,state,0,0
New York,43,3,New York,state,0,0
Pennsylvania,47,4,Pennsylvania,state,0,0
Illinois,21,5,Illinois,state,0,0
Ohio,44,6,Ohio,state,0,0
Georgia,16,7,Georgia,state,0,0
North Carolina,36,8,North Carolina,state,0,0
Michigan,30,9,Michigan,state,0,0
New Jersey,40,10,New Jersey,state,0,0
Virginia,56,11,Virginia,state,0,0
Washington,59,12,Washington,state,0,0
Arizona,8,13,Arizona,state,0,1
Massachusetts,26,14,Massachusetts,state,0,0
Tennessee,53,15,Tennessee,state,0,0
Indiana,22,16,Indiana,state,0,0
Maryland,27,17,Maryland,state,0,0
Missouri,32,18,Missouri,state,0,0
Wisconsin,60,19,Wisconsin,state,0,0
Colorado,10,20,Colorado,state,0,0
Minnesota,31,21,Minnesota,state,0,0
South Carolina,51,22,South Carolina,state,0,0
Alabama,4,23,Alabama,state,0,0
Louisiana,25,24,Louisiana,state,0,0
Kentucky,24,25,Kentucky,state,0,0
Oregon,46,26,Oregon,state,0,0
Oklahoma,45,27,Oklahoma,state,0,0
Connecticut,11,28,Connecticut,state,0,0
Utah,55,30,Utah,state,0,0
Iowa,19,31,Iowa,state,0,0
Nevada,42,32,Nevada,state,0,0
Arkansas,6,33,Arkansas,state,0,0
Mississippi,34,34,Mississippi,state,0,0
Kansas,23,35,Kansas,state,0,0
New Mexico,41,36,New Mexico,state,27,0
Nebraska,38,37,Nebraska,state,0,0
Idaho,20,38,Idaho,state,0,1
West Virginia,61,39,West Virginia,state,0,1
Hawaii,18,40,Hawaii,state,0,0
New Hampshire,39,41,New Hampshire,state,0,0
Maine,28,42,Maine,state,0,0
Rhode Island,50,43,Rhode Island,state,0,0
Montana,35,44,Montana,state,61,0
Delaware,13,45,Delaware,state,0,0
South Dakota,52,46,South Dakota,state,0,1
North Dakota,37,47,North Dakota,state,108,0
Alaska,3,48,Alaska,state,0,1
District of Columbia,12,49,District of Columbia,state,0,0
Vermont,58,50,Vermont,state,0,0
Wyoming,62,51,Wyoming,state,27,0