In [54]:
import numpy as np 
import pandas as pd

# clean for state

Load in the data frame. Get lists of column labels.

In [55]:
all_data = pd.read_csv("Data_Files/state_housing_zillow.csv")
col_labels = all_data.columns.tolist()
timestamps = col_labels[5:]

Tranpose the dataset so that it is indexed by time and each column represents a state.

In [56]:
price_by_state_series = pd.DataFrame(all_data[timestamps].values.T, columns=all_data['RegionName'], index=timestamps)
print(price_by_state_series)

RegionName     California          Texas        Florida       New York  \
2000-01-31  186429.815199  110538.064827  105825.018501  149355.915577
2000-02-29  187056.461453  110598.134067  106054.245342  149887.769350
2000-03-31  187902.587345  110627.268589  106332.113966  150399.764377
2000-04-30  189739.274366  110771.865807  106896.949408  151500.926494
2000-05-31  191874.146347  110865.509233  107506.063565  152640.235655
...                   ...            ...            ...            ...
2024-09-30  768060.404666  299577.201315  389685.944614  470329.929340
2024-10-31  769640.332853  299320.975181  388747.458761  472704.198362
2024-11-30  771401.672972  298954.558970  387558.837887  474502.099921
2024-12-31  773183.509222  298684.555574  386475.569667  476224.642087
2025-01-31  773347.013436  298510.934462  385540.771612  477332.960271

RegionName   Pennsylvania       Illinois           Ohio        Georgia  \
2000-01-31   96116.779767  125204.519107  101913.641903  121920.615008
2000-02-29   96322.366280  125304.858881  101975.920383  122197.475642
2000-03-31   96515.562377  125521.747803  102070.369000  122516.926576
2000-04-30   96909.266668  126031.976132  102348.099713  123189.511012
2000-05-31   97313.699554  126637.377994  102771.569988  123931.344856
...                   ...            ...            ...            ...
2024-09-30  261214.112640  262304.017455  222431.430792  326237.289190
2024-10-31  261942.726547  263161.721803  222903.959089  326032.883573
2024-11-30  262812.199443  264083.597257  223522.048122  325456.854346
2024-12-31  263976.630988  265195.838537  224714.836417  325030.355681
2025-01-31  265021.074573  266319.540273  226001.500064  324673.791132

RegionName  North Carolina       Michigan  ...          Maine   Rhode Island  \
2000-01-31   126353.992989  112945.628224  ...  103400.802539  127343.482395
2000-02-29   126546.224256  113007.835979  ...  103744.818906  127922.629657
2000-03-31   126744.218601  113235.582856  ...  104051.981590  128530.829549
2000-04-30   127173.703308  113689.253739  ...  104728.678669  129732.533289
2000-05-31   127652.173136  114358.285887  ...  105366.130828  130929.976949
...                    ...            ...  ...            ...            ...
2024-09-30   326371.617396  238684.745200  ...  388648.432540  455731.412222
2024-10-31   326388.713623  239266.264159  ...  389774.534119  458140.040060
2024-11-30   326362.936130  239891.182647  ...  390261.954296  460051.985831
2024-12-31   326780.636516  240811.193105  ...  390860.994214  461984.098879
2025-01-31   327214.876837  241804.071688  ...  391296.886124  463372.371358

RegionName        Montana       Delaware   South Dakota   North Dakota  \
2000-01-31            NaN  143518.164477  105309.481167            NaN
2000-02-29            NaN  143741.445804  105085.733311            NaN
2000-03-31            NaN  144019.451153  104772.614741            NaN
2000-04-30            NaN  144655.243089  104350.564491            NaN
2000-05-31            NaN  145380.392090  104174.979254            NaN
...                   ...            ...            ...            ...
2024-09-30  443403.986554  375715.697388  297134.246385  259945.848225
2024-10-31  445415.924358  377010.324541  298232.546663  260855.727359
2024-11-30  446735.127525  378408.993788  299134.624686  261979.676959
2024-12-31  448077.657295  379834.007751  300108.583451  263288.366630
2025-01-31  449271.614051  380840.160241  301073.125341  264677.493806

RegionName         Alaska  District of Columbia        Vermont        Wyoming
2000-01-31  134532.265866         160456.120672  113739.247678            NaN
2000-02-29  134685.066098         160980.937946  113929.701095            NaN
2000-03-31  134837.786417         161725.599539  114228.801575            NaN
2000-04-30  135016.891655         163322.307225  114816.516379            NaN
2000-05-31  135286.520557         165094.357278  115493.328383            NaN
...                   ...                   ...            ...            ...
2024-09-30  361566.409631         597251.929033  389596.756166  341148.869753
2024-10-31  362784.390341         597157.757426  389191.643574  343849.922709
2024-11-30  364021.134243         596720.704072  387798.217684  346044.040121
2024-12-31  365470.830358         596088.146253  386507.520577  348280.758951
2025-01-31  366633.076734         594940.939674  385136.453636  350224.417540

[301 rows x 51 columns]

Create a dataframe of labels. Add a column to one-hot encode whether the original dataframe contained any NaN values for that state. Default to 0 (False).

In [57]:
state_labels = pd.DataFrame(all_data[col_labels[:5]].values, columns=col_labels[:5], index=all_data['RegionName'])
print(state_labels)
state_labels.drop(columns=['StateName'], inplace=True)
state_labels['LeadingNaN'] = 0
state_labels['ContainsNaN'] = 0

                     RegionID SizeRank            RegionName RegionType  \
RegionName
California                  9        0            California      state
Texas                      54        1                 Texas      state
Florida                    14        2               Florida      state
New York                   43        3              New York      state
Pennsylvania               47        4          Pennsylvania      state
Illinois                   21        5              Illinois      state
Ohio                       44        6                  Ohio      state
Georgia                    16        7               Georgia      state
North Carolina             36        8        North Carolina      state
Michigan                   30        9              Michigan      state
New Jersey                 40       10            New Jersey      state
Virginia                   56       11              Virginia      state
Washington                 59       12            Washington      state
Arizona                     8       13               Arizona      state
Massachusetts              26       14         Massachusetts      state
Tennessee                  53       15             Tennessee      state
Indiana                    22       16               Indiana      state
Maryland                   27       17              Maryland      state
Missouri                   32       18              Missouri      state
Wisconsin                  60       19             Wisconsin      state
Colorado                   10       20              Colorado      state
Minnesota                  31       21             Minnesota      state
South Carolina             51       22        South Carolina      state
Alabama                     4       23               Alabama      state
Louisiana                  25       24             Louisiana      state
Kentucky                   24       25              Kentucky      state
Oregon                     46       26                Oregon      state
Oklahoma                   45       27              Oklahoma      state
Connecticut                11       28           Connecticut      state
Utah                       55       30                  Utah      state
Iowa                       19       31                  Iowa      state
Nevada                     42       32                Nevada      state
Arkansas                    6       33              Arkansas      state
Mississippi                34       34           Mississippi      state
Kansas                     23       35                Kansas      state
New Mexico                 41       36            New Mexico      state
Nebraska                   38       37              Nebraska      state
Idaho                      20       38                 Idaho      state
West Virginia              61       39         West Virginia      state
Hawaii                     18       40                Hawaii      state
New Hampshire              39       41         New Hampshire      state
Maine                      28       42                 Maine      state
Rhode Island               50       43          Rhode Island      state
Montana                    35       44               Montana      state
Delaware                   13       45              Delaware      state
South Dakota               52       46          South Dakota      state
North Dakota               37       47          North Dakota      state
Alaska                      3       48                Alaska      state
District of Columbia       12       49  District of Columbia      state
Vermont                    58       50               Vermont      state
Wyoming                    62       51               Wyoming      state

                     StateName
RegionName
California                 NaN
Texas                      NaN
Florida                    NaN
New York                   NaN
Pennsylvania               NaN
Illinois                   NaN
Ohio                       NaN
Georgia                    NaN
North Carolina             NaN
Michigan                   NaN
New Jersey                 NaN
Virginia                   NaN
Washington                 NaN
Arizona                    NaN
Massachusetts              NaN
Tennessee                  NaN
Indiana                    NaN
Maryland                   NaN
Missouri                   NaN
Wisconsin                  NaN
Colorado                   NaN
Minnesota                  NaN
South Carolina             NaN
Alabama                    NaN
Louisiana                  NaN
Kentucky                   NaN
Oregon                     NaN
Oklahoma                   NaN
Connecticut                NaN
Utah                       NaN
Iowa                       NaN
Nevada                     NaN
Arkansas                   NaN
Mississippi                NaN
Kansas                     NaN
New Mexico                 NaN
Nebraska                   NaN
Idaho                      NaN
West Virginia              NaN
Hawaii                     NaN
New Hampshire              NaN
Maine                      NaN
Rhode Island               NaN
Montana                    NaN
Delaware                   NaN
South Dakota               NaN
North Dakota               NaN
Alaska                     NaN
District of Columbia       NaN
Vermont                    NaN
Wyoming                    NaN

Address NaN values. Replace any leading NaN values with the oldest recorded price measurement (backwards fill method). For intermediate NaN values, use take the average of the values before and after (interpolate). Update the ContainsNaN column of the labels dataframe.

In [58]:
# find columns with NaN values and update the column in labels
col_nans = price_by_state_series.isna().any()
print(np.sum(col_nans.values))
#print(col_nans)

# interpolate intermediate NaN values
for state in all_data['RegionName']:
    #print(col_nans[state])
    if col_nans[state]:
        all_nans = price_by_state_series[state].isna().sum()
        price_by_state_series[state].interpolate(method='linear', inplace=True)
        new_nans = price_by_state_series[state].isna().sum()
        state_labels.loc[state, 'ContainsNaN'] = all_nans - new_nans
        #if all_nans - new_nans != 0:
        print(state, all_nans - new_nans, all_nans, new_nans)   

print()
# backwards fill leading NaN values
col_nans = price_by_state_series.isna().any()
print(np.sum(col_nans.values))
for state in all_data['RegionName']:
    if col_nans[state]:
        print(state, price_by_state_series[state].isna().sum())
        state_labels.loc[state, 'LeadingNaN'] = price_by_state_series[state].isna().sum()
        price_by_state_series[state].fillna(method='bfill', inplace=True)

9
Arizona 1 1 0
New Mexico 0 27 27
Idaho 1 1 0
West Virginia 1 1 0
Montana 0 61 61
South Dakota 1 1 0
North Dakota 0 108 108
Alaska 1 1 0
Wyoming 0 27 27

4
New Mexico 27
Montana 61
North Dakota 108
Wyoming 27

/var/folders/0r/8vfq070d6h9_gmryx7sk_rsw0000gp/T/ipykernel_73883/1870249620.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  price_by_state_series[state].interpolate(method='linear', inplace=True)
/var/folders/0r/8vfq070d6h9_gmryx7sk_rsw0000gp/T/ipykernel_73883/1870249620.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  price_by_state_series[state].interpolate(method='linear', inplace=True)
/var/folders/0r/8vfq070d6h9_gmryx7sk_rsw0000gp/T/ipykernel_73883/1870249620.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  price_by_state_series[state].interpolate(method='linear', inplace=True)
/var/folders/0r/8vfq070d6h9_gmryx7sk_rsw0000gp/T/ipykernel_73883/1870249620.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  price_by_state_series[state].interpolate(method='linear', inplace=True)
/var/folders/0r/8vfq070d6h9_gmryx7sk_rsw0000gp/T/ipykernel_73883/1870249620.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  price_by_state_series[state].interpolate(method='linear', inplace=True)
/var/folders/0r/8vfq070d6h9_gmryx7sk_rsw0000gp/T/ipykernel_73883/1870249620.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  price_by_state_series[state].interpolate(method='linear', inplace=True)
/var/folders/0r/8vfq070d6h9_gmryx7sk_rsw0000gp/T/ipykernel_73883/1870249620.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  price_by_state_series[state].interpolate(method='linear', inplace=True)
/var/folders/0r/8vfq070d6h9_gmryx7sk_rsw0000gp/T/ipykernel_73883/1870249620.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  price_by_state_series[state].interpolate(method='linear', inplace=True)
/var/folders/0r/8vfq070d6h9_gmryx7sk_rsw0000gp/T/ipykernel_73883/1870249620.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  price_by_state_series[state].interpolate(method='linear', inplace=True)
/var/folders/0r/8vfq070d6h9_gmryx7sk_rsw0000gp/T/ipykernel_73883/1870249620.py:25: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  price_by_state_series[state].fillna(method='bfill', inplace=True)
/var/folders/0r/8vfq070d6h9_gmryx7sk_rsw0000gp/T/ipykernel_73883/1870249620.py:25: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  price_by_state_series[state].fillna(method='bfill', inplace=True)
/var/folders/0r/8vfq070d6h9_gmryx7sk_rsw0000gp/T/ipykernel_73883/1870249620.py:25: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  price_by_state_series[state].fillna(method='bfill', inplace=True)
/var/folders/0r/8vfq070d6h9_gmryx7sk_rsw0000gp/T/ipykernel_73883/1870249620.py:25: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  price_by_state_series[state].fillna(method='bfill', inplace=True)
/var/folders/0r/8vfq070d6h9_gmryx7sk_rsw0000gp/T/ipykernel_73883/1870249620.py:25: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  price_by_state_series[state].fillna(method='bfill', inplace=True)
/var/folders/0r/8vfq070d6h9_gmryx7sk_rsw0000gp/T/ipykernel_73883/1870249620.py:25: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  price_by_state_series[state].fillna(method='bfill', inplace=True)
/var/folders/0r/8vfq070d6h9_gmryx7sk_rsw0000gp/T/ipykernel_73883/1870249620.py:25: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  price_by_state_series[state].fillna(method='bfill', inplace=True)
/var/folders/0r/8vfq070d6h9_gmryx7sk_rsw0000gp/T/ipykernel_73883/1870249620.py:25: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  price_by_state_series[state].fillna(method='bfill', inplace=True)

In [59]:
col_nans = price_by_state_series.isnull().any()
print(col_nans)

RegionName
California              False
Texas                   False
Florida                 False
New York                False
Pennsylvania            False
Illinois                False
Ohio                    False
Georgia                 False
North Carolina          False
Michigan                False
New Jersey              False
Virginia                False
Washington              False
Arizona                 False
Massachusetts           False
Tennessee               False
Indiana                 False
Maryland                False
Missouri                False
Wisconsin               False
Colorado                False
Minnesota               False
South Carolina          False
Alabama                 False
Louisiana               False
Kentucky                False
Oregon                  False
Oklahoma                False
Connecticut             False
Utah                    False
Iowa                    False
Nevada                  False
Arkansas                False
Mississippi             False
Kansas                  False
New Mexico              False
Nebraska                False
Idaho                   False
West Virginia           False
Hawaii                  False
New Hampshire           False
Maine                   False
Rhode Island            False
Montana                 False
Delaware                False
South Dakota            False
North Dakota            False
Alaska                  False
District of Columbia    False
Vermont                 False
Wyoming                 False
dtype: bool

Export cleaned datasets.

In [60]:
price_by_state_series.to_csv("Data_Files/price_by_state_cleaned.csv")
state_labels.to_csv("Data_Files/state_data_labels.csv")

In [61]:
state_labels

,RegionID,SizeRank,RegionName,RegionType,LeadingNaN,ContainsNaN
RegionName,,,,,,
California,9,0,California,state,0,0
Texas,54,1,Texas,state,0,0
Florida,14,2,Florida,state,0,0
New York,43,3,New York,state,0,0
Pennsylvania,47,4,Pennsylvania,state,0,0
Illinois,21,5,Illinois,state,0,0
Ohio,44,6,Ohio,state,0,0
Georgia,16,7,Georgia,state,0,0
North Carolina,36,8,North Carolina,state,0,0
Michigan,30,9,Michigan,state,0,0
New Jersey,40,10,New Jersey,state,0,0
Virginia,56,11,Virginia,state,0,0
Washington,59,12,Washington,state,0,0
Arizona,8,13,Arizona,state,0,1
Massachusetts,26,14,Massachusetts,state,0,0
Tennessee,53,15,Tennessee,state,0,0
Indiana,22,16,Indiana,state,0,0
Maryland,27,17,Maryland,state,0,0
Missouri,32,18,Missouri,state,0,0
Wisconsin,60,19,Wisconsin,state,0,0
Colorado,10,20,Colorado,state,0,0
Minnesota,31,21,Minnesota,state,0,0
South Carolina,51,22,South Carolina,state,0,0
Alabama,4,23,Alabama,state,0,0
Louisiana,25,24,Louisiana,state,0,0
Kentucky,24,25,Kentucky,state,0,0
Oregon,46,26,Oregon,state,0,0
Oklahoma,45,27,Oklahoma,state,0,0
Connecticut,11,28,Connecticut,state,0,0
Utah,55,30,Utah,state,0,0
Iowa,19,31,Iowa,state,0,0
Nevada,42,32,Nevada,state,0,0
Arkansas,6,33,Arkansas,state,0,0
Mississippi,34,34,Mississippi,state,0,0
Kansas,23,35,Kansas,state,0,0
New Mexico,41,36,New Mexico,state,27,0
Nebraska,38,37,Nebraska,state,0,0
Idaho,20,38,Idaho,state,0,1
West Virginia,61,39,West Virginia,state,0,1
Hawaii,18,40,Hawaii,state,0,0
New Hampshire,39,41,New Hampshire,state,0,0
Maine,28,42,Maine,state,0,0
Rhode Island,50,43,Rhode Island,state,0,0
Montana,35,44,Montana,state,61,0
Delaware,13,45,Delaware,state,0,0
South Dakota,52,46,South Dakota,state,0,1
North Dakota,37,47,North Dakota,state,108,0
Alaska,3,48,Alaska,state,0,1
District of Columbia,12,49,District of Columbia,state,0,0
Vermont,58,50,Vermont,state,0,0
Wyoming,62,51,Wyoming,state,27,0

# clean for county

Load in the data frame. Get lists of column labels.

In [62]:
all_data = pd.read_csv("Data_Files/county_housing_zillow.csv")
col_labels = all_data.columns.tolist()
timestamps = col_labels[9:]

Tranpose the dataset so that it is indexed by time and each column represents a state.

In [63]:
price_by_county_series = pd.DataFrame(all_data[timestamps].values.T, columns=all_data['RegionName'], index=timestamps)
print(price_by_county_series)

RegionName  Los Angeles County    Cook County  Harris County  Maricopa County  \
2000-01-31       205554.642143  146088.131319  109502.880748    143224.384045
2000-02-29       205787.076303  146058.811433  109474.767351    143516.508250
2000-03-31       206645.170206  146299.372635  109313.922526    143902.521074
2000-04-30       208344.164074  146991.131284  109247.781175    144696.080612
2000-05-31       210504.871387  147876.373157  109221.904554    145570.897200
...                        ...            ...            ...              ...
2024-08-31       857411.008912  302846.384103  282907.172194    468743.383602
2024-09-30       863957.219674  303511.080209  282692.273148    467798.713506
2024-10-31       869036.446028  303864.098187  282325.752609    467070.117625
2024-11-30       873116.490139  304254.182907  281874.816774    466405.864875
2024-12-31       876489.981962  304914.611846  281642.532453    465828.629769

RegionName  San Diego County  Orange County   Kings County  Miami-Dade County  \
2000-01-31     213034.659393   2.483530e+05  200639.071495      119668.621108
2000-02-29     213878.120425   2.505451e+05  201602.627381      120083.060160
2000-03-31     214900.510511   2.521021e+05  202654.141877      120436.828134
2000-04-30     217215.437980   2.552860e+05  204936.099271      121153.716601
2000-05-31     219715.973772   2.580317e+05  207366.081909      121787.881479
...                      ...            ...            ...                ...
2024-08-31     935687.520148   1.123102e+06  846570.558934      531887.523252
2024-09-30     935242.345948   1.130097e+06  849704.713103      533291.737261
2024-10-31     934533.913892   1.136611e+06  851903.458103      533542.030514
2024-11-30     934725.657369   1.143075e+06  854880.300260      532797.604892
2024-12-31     935232.664342   1.149480e+06  859181.821029      531998.490352

RegionName  Dallas County  Riverside County  ...  Wheeler County  \
2000-01-31   93990.540943     149547.902766  ...             NaN
2000-02-29   94042.350458     149886.943085  ...             NaN
2000-03-31   94119.405750     150300.974680  ...             NaN
2000-04-30   94297.411981     151248.156464  ...             NaN
2000-05-31   94530.243952     152486.072483  ...             NaN
...                   ...               ...  ...             ...
2024-08-31  312967.856389     604212.620117  ...   230463.934800
2024-09-30  312401.969738     605260.053955  ...   233933.291898
2024-10-31  311843.578865     605860.776709  ...   238367.449855
2024-11-30  311106.260896     606543.758767  ...   241060.345103
2024-12-31  310300.688526     607110.078458  ...   244301.888403

RegionName  Hooker County  San Juan County  Treasure County    Loup County  \
2000-01-31            NaN              NaN              NaN            NaN
2000-02-29            NaN              NaN              NaN            NaN
2000-03-31            NaN              NaN              NaN            NaN
2000-04-30            NaN              NaN              NaN            NaN
2000-05-31            NaN              NaN              NaN            NaN
...                   ...              ...              ...            ...
2024-08-31  123386.090629    528411.317244    185303.801165  310436.823833
2024-09-30  123872.022476    530029.921353    185987.546582  315129.516712
2024-10-31  124136.559601    532923.729681    187909.810346  320006.941594
2024-11-30  123836.154642    531769.821932    188521.945064  321877.019649
2024-12-31  124803.729923    528188.588520    189126.469042  323881.773700

RegionName  Banner County  Daggett County  Thomas County  McPherson County  \
2000-01-31            NaN             NaN            NaN               NaN
2000-02-29            NaN             NaN            NaN               NaN
2000-03-31            NaN             NaN            NaN               NaN
2000-04-30            NaN             NaN            NaN               NaN
2000-05-31            NaN             NaN            NaN               NaN
...                   ...             ...            ...               ...
2024-08-31  336736.175154   315766.403474  164047.103362     318725.125071
2024-09-30  346631.949352   318169.837605  164787.407684     329326.702388
2024-10-31  354998.496627   322748.075604  166054.747665     339183.091984
2024-11-30  358646.215997   326448.913102  166257.891113     344650.536347
2024-12-31  363180.460914   330270.364833  166435.634476     350922.241689

RegionName  Petroleum County
2000-01-31               NaN
2000-02-29               NaN
2000-03-31               NaN
2000-04-30               NaN
2000-05-31               NaN
...                      ...
2024-08-31     158653.532384
2024-09-30     161280.339942
2024-10-31     165289.537724
2024-11-30     168560.091132
2024-12-31     173025.297990

[300 rows x 3073 columns]

Create a dataframe of labels. Add a column to one-hot encode whether the original dataframe contained any NaN values for that state. Default to 0 (False).

In [76]:
county_labels = pd.DataFrame(all_data[col_labels[:9]].values, columns=col_labels[:9], index=all_data['RegionName'])
county_labels['LeadingNaN'] = 0
county_labels['ContainsNaN'] = 0

Address NaN values. Replace any leading NaN values with the oldest recorded price measurement (backwards fill method). For intermediate NaN values, use take the average of the values before and after (interpolate). Update the ContainsNaN column of the labels dataframe.

In [ ]:
# find columns with NaN values and update the column in labels
col_nans = price_by_county_series.isna().any()
print(np.sum(col_nans.values))

# interpolate intermediate NaN values
print(col_nans)
for county in all_data['RegionName']:
    print(county)
    print(col_nans[county])
    if col_nans[county]:
        all_nans = price_by_county_series[county].isna().sum()
        price_by_county_series[county].interpolate(method='linear', inplace=True)
        new_nans = price_by_county_series[county].isna().sum()
        county_labels.loc[county, 'ContainsNaN'] = all_nans - new_nans
        #if all_nans - new_nans != 0:
        print(county, all_nans - new_nans, all_nans, new_nans)   

print()
# backwards fill leading NaN values
col_nans = price_by_county_series.isna().any()
print(np.sum(col_nans.values))
for county in all_data['RegionName']:
    if col_nans[county]:
        print(county, price_by_county_series[county].isna().sum())
        county_labels.loc[county, 'LeadingNaN'] = price_by_county_series[county].isna().sum()
        price_by_county_series[county].fillna(method='bfill', inplace=True)

2363
RegionName
Los Angeles County    False
Cook County           False
Harris County         False
Maricopa County        True
San Diego County      False
                      ...
Banner County          True
Daggett County         True
Thomas County          True
McPherson County       True
Petroleum County       True
Length: 3073, dtype: bool
Los Angeles County
False
Cook County
RegionName
Cook County    False
Cook County    False
Cook County     True
dtype: bool

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [ ]:
col_nans = price_by_county_series.isnull().any()
print(col_nans)

Export cleaned datasets.

In [ ]:
price_by_county_series.to_csv("Data_Files/price_by_county_cleaned.csv")
county_labels.to_csv("Data_Files/county_data_labels.csv")