In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [3]:
# data = pd.read_csv("County_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv")
data = pd.read_csv("Zip_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv")
data

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2000-01-31,...,2024-04-30,2024-05-31,2024-06-30,2024-07-31,2024-08-31,2024-09-30,2024-10-31,2024-11-30,2024-12-31,2025-01-31
0,91982,1,77494,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,209050.476760,...,493768.795807,495075.413843,495380.402566,495002.983332,495408.561941,496096.305465,497215.161891,497931.319966,498348.024838,498770.070517
1,61148,2,8701,zip,NJ,NJ,Lakewood,"New York-Newark-Jersey City, NY-NJ-PA",Ocean County,129618.780605,...,567181.889516,574111.688523,579228.585853,583825.798950,588765.877710,594583.485735,599788.275075,603106.031473,605075.749335,605701.713141
2,91940,3,77449,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Harris County,103655.528341,...,281613.081259,282147.022097,282107.280779,281872.890421,281691.186379,281502.991848,281086.410278,280298.902221,279570.221742,278960.087685
3,62080,4,11368,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,146323.411563,...,448237.173500,452805.954270,453500.452732,452997.379756,452371.998659,453320.495788,453075.343776,451863.571974,449627.300182,447532.075931
4,91733,5,77084,zip,TX,TX,Houston,"Houston-The Woodlands-Sugar Land, TX",Harris County,102106.861831,...,274112.517554,274613.196678,274446.918170,274155.370186,273883.459171,273631.254558,273125.765642,272528.815424,272190.921082,271949.294782
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26318,63527,39992,14441,zip,NY,NY,Dresden,"Rochester, NY",Yates County,95200.506993,...,207411.501077,212859.345739,217705.207088,220747.040461,223033.160778,225156.691276,227314.268636,228544.608118,228472.620494,227382.444478
26319,99927,39992,98628,zip,WA,WA,Klickitat,NaN,Klickitat County,NaN,...,180804.486129,183691.428602,184378.493108,182270.098233,179856.661697,177621.288376,176436.410504,175243.019479,174289.080960,172769.705673
26320,80861,39992,52163,zip,IA,IA,Protivin,NaN,Howard County,NaN,...,108590.532524,110531.058676,112546.786601,114074.312787,114923.348472,114988.321750,115144.245078,115385.629679,115883.514220,116227.226663
26321,93941,39992,82515,zip,WY,WY,Hudson,"Riverton, WY",Fremont County,NaN,...,172749.514735,173795.269429,174129.180796,173601.285437,173438.172525,173265.888713,173444.634292,172971.964088,172685.454192,172487.201523
26322,80190,39992,50160,zip,IA,IA,Martensdale,"Des Moines-West Des Moines, IA",Warren County,NaN,...,196175.587595,197239.571536,197434.125142,197622.447782,197875.013913,198489.179930,199001.795336,199616.160375,200645.250133,201405.937916

In [6]:
dates = data.columns[9:]
price_by_county = pd.DataFrame(data[dates].values.T, columns=data['RegionName'], index=dates)
# price_by_county.columns = dates['RegionName']
# price_by_county
price_by_county.to_csv('zip_code_housing_labels.csv')
# labels = data[dates]
# labels.index = labels['RegionName']
# labels.drop(['RegionName'], axis=1)
# labels.to_csv('housing_labels.csv')